{% extends 'base.html' %}

{% block pageheading %}
homework
{% endblock %}

{% block main %}
    <div class ="grades">
    {% for homework in homeworks %}
        <div class ="grade-box">
            <h3 class="grade-box-heading">{{ homework[0] }}</h3>
            <div class="grade-box-info">
                <p><strong>Difficulty</strong>{{ homework[1] }}</p>
                <p><strong>Subject:</strong>{{ homework[2] }}</p>
                <p><strong>Description:</strong>{{ homework[3] }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}